/* size of screen */
.home
{
    height: 95vh;
   max-width: 100%;
}
nav
{
    width: 100%;
    height: 7.4vh;
    background-color: aqua;
    position: fixed;
}
.navbar
{
    width: 100%;
    justify-content:space-between;
    display: flex;
}
.navitem
{
    font-size: larger;
    margin: 0% 5%;
    padding: 1% 5%;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}
.navitem:hover
{
    background-color: aliceblue;
    color: blue;
}
footer
{
    width: 100%;
    height: 5vh;
    background-color: aqua;
    text-align: center;
    position: fixed;
}
.homeicon
{
    justify-content: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 35%;
    margin: 0% 32%;
    background-color: azure;
}
.homeiconames
{
    text-decoration: none;
    margin: 0% 8%;
}
.homewel
{
    text-align: center;
    position: relative;
    top: 30%;
    margin: 0%;
    color: slateblue;
    font-size:60px;
}

/* login and register pages css */
.tabledata
{
  max-width: 35%;
  position:absolute;
  left: 35%;
  margin: 15% 0% 0% 5vh;
  background-color: beige;
  border-radius: 20px;
  opacity: 60%;
}
.input
{
  padding-top: 5vh;
  padding-right: 2vh;
  text-align: center;
  color:black;
  font-size: large;
}
.tabledata input
{
    height: 3vh;
    width: 33vh;
}
.tabledata label,button
{
    cursor: pointer;
}
.tabledata button
{
    margin:3vh 0vh 2vh 40%;
    padding: 5px 20px;
    background: none;
    background-color: greenyellow;
    border: none;
    transition: 0.3s;
    border-radius: 8px;
}
.tabledata button:hover
{
    background-color: blue;
    color: white;
}

/* ------------------ */
/* adminpage */
.adpage
{
    width: 100%;
    height: 87.6vh;
    display: flex;
}
aside
{
    margin-top: 7vh;
    width: 16%;
    height: 88vh;
    background-color: rgb(204, 232, 223);
}
.dropbar
{
    position: absolute;
    top: 7.35%;
    height: 87.6vh;
    width: 16%;
}
.asidebtn
{
    text-decoration: none;
    padding: 3% 1%;
    background-color: aliceblue;
    justify-content:center;
    display:flex;
    border-radius: 70px;
    margin-top: 35%;
    color: rgb(58, 58, 58);
    transition: 0.3s;
}
.asidebtn:hover
{
    background-color: blanchedalmond;
    color:blueviolet;
}
.active
{
    background-color: blue;
    color: whitesmoke;
    border-right: 5px solid red;
}
.active1
{
    background-color:green;
    color: whitesmoke;
    border-right: 5px solid red;
}

/* section tag elements */
section
{
    margin-top: 7.4vh;
    width: 85%;
    height:87.6vh;
    overflow-y: scroll;
}

/*Drop down button */
.drop
{
    margin:0vh 0vh 0vh 2vh;
    padding: 1% 1%;
    height: 3.5vh;
    transition: 0.3s;
}
.dash
{
    background-color:antiquewhite;
    padding: 1vh 0vh 5.9vh 5vh ;
    height: 100%;
}

/* Dash board */
.dashtable
{
    top: 18%;
    left: 53%;
    height: 70vh;
    width: 30%;
    position:absolute;
}
.dashtable tr
{
    background-color: rgb(137, 233, 236);
    text-align: center;
    font-size: large;
    color:black;
}
.dashtable tr th
{
    background-color: brown;
    color:aliceblue;
}
.dashitem
{
    padding: 1% 1%;
    text-decoration: none;
    color:aliceblue;
    background-color:rgb(69, 68, 68);
    display:flex;
    margin-top: 10vh;
    width: 34vh;
    transition: 0.5s;
    border-radius: 20px;
    justify-content: center;
}
.dashitem:hover
{
    background-color:cadetblue;
}
.ccdisplay
{
    margin: 30vh 0%;
    text-align: center;
    font-size:calc(24px);
}


/* user management */
.usrmngitem
{
    padding: 1% 1%;
    text-decoration: none;
    color: rgb(74, 73, 73);
    background-color: aliceblue;
    display:flex;
    margin-top: 10vh;
    width: 25vh;
    transition: 0.3s;
    border-radius: 20px;
    justify-content: center;
}
.usrmngitem:hover
{
    background-color:yellowgreen;
    color: blueviolet;
}

/* approve user from list and edit user */
.editdis
{
    top:12%;
    left: 40%;
    position:absolute;
    width: 58%;
    height: 80%;
    background-color:aliceblue;
    overflow-y: scroll;
}
.aufltable
{
    width: 100%;
    min-height: 100%;
    border: 2px solid tomato;
    border-collapse: collapse ;
}
.aufltable th
{
    border:solid 2px blue;
}
.aufltable td
{
    text-align: center;
    border: 1px solid black;
}

/* disable enable user */
.disenadis
{
    top:50%;
    left: 40%;
    position:absolute;
    width: 30%;
    height: 10%;
    background-color:aliceblue;
    display: flex;
    justify-content:space-between;
}
.disenadisbtn
{
    text-decoration: none;
    padding: 0.1%;
    color:green;
}
.disenareason
{
    position: absolute;
    top:76%;
    left: 40%;
}

/* Land management items */
.land
{
    background-color:antiquewhite;
    padding: 4vh 0vh 19vh 5vh ;
}
.landitem
{
    padding: 1% 1%;
    text-decoration: none;
    color:aliceblue;
    background-color:cornflowerblue;
    display:flex;
    margin-top: 10vh;
    width: 34vh;
    transition: 0.5s;
    border-radius: 20px;
    justify-content: center;
}
.landitem:hover
{
    background-color: darkgoldenrod;
}
.landinput
{
    margin:5% 0% 0% 3%;
    font-size:large;
    border-radius: 5px;
}
.landinput:hover
{
    border-color: rgb(69, 69, 243);
    background-color: rgb(190, 252, 252);
}
.landtable
{
    width: 100%;
}

/* View pending purchases */
.pendtable
{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.pendtable tr
{
    background-color: aquamarine;
    margin-top: 100px;
}
.pymttable
{
    width: 100%;
    height: 10vh;
    font-size: large;
    overflow-y: scroll;
    border-right: 1px solid black;
}
.pymttable table th h2
{
    text-align: center;
}
.pymttable input
{
    width: 90%;
    height: 4vh;
}

/* Unit request management */
.unitreq
{
    background-color:antiquewhite;
    padding: 1vh 0vh 5.9vh 5vh ;
    height: 100%;
}
.unitreqitem
{
    padding: 1% 1%;
    text-decoration: none;
    color:black;
    background-color:rgb(245, 160, 160);
    display:flex;
    margin-top: 25vh;
    width: 24vh;
    border-radius: 20px;
    justify-content: center;
    transition: 0.5s;
}
.unitreqitem:hover
{
    background-color: aliceblue;
}