@media only screen and (max-width:1500px) {
    nav
    {
        width: 100%;
        height: 7.4vh;
    }
    .navitem
    {
        font-size:19px;
        margin: 0% 1%;
        padding: 1% 5%;        
    }
    .homeicon
    {
        margin: 0% 36%;
        width: 30%;
    }
    .tabledata
    {
        left: 0%;
        margin: 15% 0% 0% 33%;
    }
  }
  @media only screen and (max-width: 1000px) {
    nav
    {
        width: 100%;
        height: 7.5vh;
    }
    .navitem
    {
        font-size:13px;
        margin: 0% 1%;
        padding: 1.5% 5%;
    }
    .homeicon
    {
        margin: 0% 13%;
        width: 70%;
    }
    .homewel
    {
        font-size: 50px;
    }
    .tabledata
    {
        left: 0%;
        margin: 36% 0% 0% 20%;
    }
    aside
    {
        width: 20%;
        font-size:12px;
        margin-top:6%;
        height:100vh;
    }
    section
    {
        background-color: antiquewhite;
        height: 100vh;
    }
    .adpage
    {
        background-color: antiquewhite;
    }
    .drop1
    {
        margin: 20%;
    }
    /* Dashboard */
    .dashitem
    {
        width: 25vh;
        font-size: 10px;
        margin-top: 2vh;
    }
    .dash
    {
        height: 25%;
        margin-top: 0%;
    }
    .dashtable
    {
        position: relative;
        left: 0%;
        width: 100%;
        margin:0vh 0% 0% 0%;
    }
    .editdis
    {
        position:absolute;
        left: 19%;
        top: 38%;
        width: 80%;
        height: 64vh;
    }
    /* User management */
    .usrmngitem
    {
        font-size: small;
        margin-top: 1.5vh;
    }
    /* Land management */
    .landitem
    {
        font-size: small;
        margin-top: 1.5vh;
        width: 28vh;
    }
    /* Unit request management */
    .unitreqitem
    {
        font-size: small;
        margin-top: 6.5vh;
    }
  }
@media only screen and (max-width: 670px) {

    .navitem
    {
        font-size: small;
        margin: 0% 1%;
        padding: 2.6% 5%;
    }
    .homeicon
    {
        margin: 0% 13%;
        width: 70%;
    }
    .homewel
    {
        font-size: 40px;
    }
    .tabledata
    {
        left: 0%;
        margin: 50% 0% 0% 2%;
        width: 10%;
    }
    aside
    {
        width: 20%;
        font-size:6px;
        margin-top: 9%;
        height:100vh;
    }
    section
    {
        background-color: antiquewhite;
        height: 100vh;
    }
    .adpage
    {
        background-color: antiquewhite;
    }
    .drop1
    {
        margin: 20%;
    }
    /* Dashboard */
    .dashitem
    {
        width: 25vh;
        font-size: 10px;
        margin-top: 2vh;
    }
    .dash
    {
        height: 25%;
        margin-top: 0%;
    }
    .dashtable
    {
        position: relative;
        left: 0%;
        width: 100%;
        margin:0vh 0% 0% 0%;
    }
    .editdis
    {
        position:absolute;
        left: 19%;
        top: 35%;
        width: 80%;
        height: 70vh;
    }
    /* User management */
    .usrmngitem
    {
        font-size: small;
        margin-top: 1.5vh;
    }
    /* Land management */
    .landitem
    {
        font-size: small;
        margin-top: 1.5vh;
        width: 28vh;
    }
    /* Unit request management */
    .unitreqitem
    {
        font-size: small;
        margin-top: 1.5vh;
    }
  } 




  @media only screen and (max-width: 410px) {
    .navitem
    {
        font-size: small;
        margin: 0% 1%;
        padding: 2.5% 5%;
    }
    .homeicon
    {
        width: 80%;
        margin: 0% 10%;
    }
    .tabledata
    {
        left: 0%;
        top: 10%;
        margin: 45% 0% 0% 2%;
        width:10vh;
        font-size: 10px;
        padding: 0%;
        border: none;
    }
    .tabledata input
    {
        width: 20vh;
    }
    aside
    {
        width: 20%;
        font-size:5px;
        margin-top: 15%;
        height: 100vh;
    }
    .drop1
    {
        margin: 20%;
    }
    /* Dashboard */
    .dashitem
    {
        width: 23vh;
        font-size: 10px;
        margin-top: 2vh;
    }
    .dash
    {
        height: 25%;
        margin-top: 12%;
    }
    section
    {
        background-color: antiquewhite;
        height: 100vh;
    }
    .adpage
    {
        background-color: antiquewhite;
    }
    .dashtable
    {
        position: relative;
        left: 0%;
        width: 100%;
        margin:2vh 0% 0% 0%;
    }
    button
    {
        font-size:7px;
    }
    .editdis
    {
        position:absolute;
        left: 19%;
        top: 35%;
        width: 80%;
        margin:0vh 0% 0% 0%;
    }
    /* User management */
    .usrmngitem
    {
        font-size: small;
        margin-top: 1.5vh;
    }
    /* Land management */
    .landitem
    {
        font-size: small;
        margin-top: 1.5vh;
        width: 28vh;
    }
    /* Unit request management */
    .unitreqitem
    {
        font-size: small;
        margin-top: 1.5vh;
    }
  }